<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add your head elements -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<div class="container mx-auto py-10">
    <h1 class="text-2xl font-bold mb-4 text-center">User Profile</h1>
    <form action="#" th:action="@{/profile}" method="post" enctype="multipart/form-data" th:object="${user}"
          class="max-w-sm mx-auto bg-white shadow-md rounded-lg p-6">
        <div class="mb-4">
            <label class="block mb-2 text-gray-700">Username:</label>
            <input type="text" th:field="*{username}" class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500 placeholder-gray-400">
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-gray-700">Major:</label>
            <input type="text" th:field="*{major}" class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500 placeholder-gray-400">
        </div>
        <div class="mb-4">
            <label for="profileImage" class="block mb-2 text-gray-700">Profile Image:</label>
            <input type="file" id="profileImage" name="profileImage" accept="image/*" class="hidden">
            <label for="profileImage" class="flex items-center px-4 py-2 border border-gray-300 rounded cursor-pointer bg-blue-500 text-white hover:bg-blue-600">
                <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                <span>Choose Image</span>
            </label>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-gray-700">About:</label>
            <textarea th:field="*{aboutSection}" class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500 placeholder-gray-400"></textarea>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-gray-700">GitHub URL:</label>
            <input type="url" th:field="*{githubUrl}" class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500 placeholder-gray-400">
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-gray-700">LinkedIn URL:</label>
            <input type="url" th:field="*{linkedinUrl}" class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500 placeholder-gray-400">
        </div>
        <div class="mb-4">
            <label for="pdfCv" class="block mb-2 text-gray-700">PDF CV:</label>
            <input type="file" name="pdfCv" id="pdfCv" class="hidden">
            <label for="pdfCv" class="flex items-center px-4 py-2 border border-gray-300 rounded cursor-pointer bg-blue-500 text-white hover:bg-blue-600">
                <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                <span>Choose File</span>
            </label>
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Save</button>
        </div>
    </form>
</div>

<script>
    const profileImageInput = document.getElementById('profileImage');
    const profileImageLabel = document.querySelector('label[for="profileImage"]');
    const pdfCvInput = document.getElementById('pdfCv');
    const pdfCvLabel = document.querySelector('label[for="pdfCv"]');

    profileImageInput.addEventListener('change', function() {
        const fileName = profileImageInput.files[0].name;
        profileImageLabel.textContent = fileName;
    });

    pdfCvInput.addEventListener('change', function() {
        const fileName = pdfCvInput.files[0].name;
        pdfCvLabel.textContent = fileName;
    });
</script>
</body>
</html>
